---
layout: layouts/base.liquid
---

<section class="limit-width">
  <h1 class="sr-only">pão no gancho</h1>
  <p class="sr-only">Oportunidades para todos.</p>

  <div
    class="flex flex-col mt-176 text-224 leading-none font-serif"
    aria-hidden="true"
  >
    <span>pão</span>
    <span>no</span>
    <span class="flex items-center">
      <span>gancho</span>

      <span class="text-40 font-sans max-w-6-col ml-column-spacing"
        >Oportunidades para todos.</span
      >
    </span>
  </div>
</section>

<section class="limit-width">
  <div class="p-80 mt-304 bg-blue rounded-3xl">
    <p class="text-white font-serif text-56 leading-none max-w-12-col">
      O Pão no Gancho é um gesto que pode mudar de uma forma positiva o dia de
      uma pessoa da sua rua, do seu bairro ou da sua cidade.
    </p>
  </div>

  <div class="max-w-10-col mx-auto mt-168 text-28">
    <p>
      Inspirado no movimento Caffè Sospenso, que surgiu há mais de 100 anos em
      Nápoles, Itália, o
      <span class="font-bold font-serif">pão no gancho</span> trata-se de uma
      ato bastante simples, quando for tomar café, em vez de pagar apenas o seu,
      paga dois — o seu e um extra. Esse extra é colocado no gancho solidário e
      poderá ser usado por uma pessoa que não tenha possibilidade de pagar o seu
      próprio café.
    </p>
    <p class="mt-32">
      Deixar um café pago é só um exemplo simples, com o
      <span class="font-bold font-serif">pão no gancho</span>, esta ideia de
      deixar algo pago para quem não tenha possibilidade de pagar, é transversal
      a qualquer coisa! Um pão, uma refeição, uma caixa de comprimidos, entre
      muitas outras coisas... que nós, enquanto comunidade queremos ou podemos
      contribuir.
    </p>
    <p class="mt-32">
      O <span class="font-bold font-serif">pão no gancho</span> é um gesto que
      entra na vida das pessoas para partilhar amor, esperança e força.
    </p>
  </div>
</section>

<section id="como_funciona" class="limit-width">
  <div class="flex justify-center mt-88 mx-auto" aria-label="Como funciona?">
    {% include vectors/how_it_works.svg %}
  </div>

  <div class="max-w-10-col mx-auto">
    <ul class="text-40 space-y-56">
      <li>
        <p class="text-blue font-serif">1.</p>
        <p class="mt-16">Ao pagar um item, deixe mais um pago.</p>
      </li>

      <li>
        <p class="text-red font-serif">2.</p>
        <p class="mt-16">Coloque o talão no gancho solidário.</p>
      </li>

      <li>
        <p class="text-green font-serif">3.</p>
        <p class="mt-16">Quem precisar, retira o talão e utiliza.</p>
      </li>
    </ul>

    <p class="max-w-9-col text-28 mt-80">
      E, assim, de uma forma tão simples, pode ter tornado o dia de uma pessoa
      que vive na sua comunidade um bocadinho melhor.
    </p>
  </div>
</section>

<section>
  <div class="flex justify-center mt-48 mx-auto" aria-label="Como funciona?">
    {% include vectors/where_is_the_hook.svg %}
  </div>

  <div class="relative overflow-hidden" style="height: 900px">
    <div class="absolute w-screen h-full bg-white left-0">map here</div>
  </div>
</section>

<section class="limit-width">
  <div class="flex justify-center mt-48 mx-auto" aria-label="Seja parceiro">
    {% include vectors/be_partner.svg %}
  </div>

  <div class="mt-112 mx-auto max-w-12-col">
    <p class="text-40">
      Tem um café, uma pastelaria, uma mercearia, ou outro tipo de
      estabelecimento comercial, e gostava de ter o
      <span class="font-bold font-serif">pão no gancho</span> no seu espaço?
    </p>
  </div>

  <section class="max-w-14-col mx-auto mt-88">
    <header class="text-56 font-serif mb-80">Seja bem-vindo!</header>

    <div class="mb-56 ml-80">
      <p class="text-40">O processo é bastante simples</p>
      <p class="text-28 mt-32">
        Ao registar o seu espaço na secção seguinte desta página, receberá um
        KIT que inclui:
      </p>

      <ul class="ml-80 mt-56 text-28 space-y-56">
        <li class="flex flex-row items-start space-x-24">
          <svg
            style="min-width: 54px"
            width="54"
            height="54"
            viewBox="0 0 55 55"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle cx="27.2006" cy="27.2006" r="27.2006" fill="#FF3838" />
          </svg>

          <p>
            um autocolante para colocar na porta, por forma a ser reconhecido
            como um membro da comunidade pão no gancho;
          </p>
        </li>

        <li class="flex flex-row items-start space-x-24">
          <svg
            style="min-width: 54px"
            width="54"
            height="54"
            viewBox="0 0 54 56"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M22.2347 2.95051C24.9043 0.231304 29.2854 0.231304 31.9549 2.95051C33.5133 4.53786 35.7486 5.26417 37.9424 4.89596C41.7004 4.26519 45.2448 6.84033 45.8061 10.6093C46.1339 12.8095 47.5154 14.711 49.5066 15.7026C52.9177 17.4012 54.2715 21.5678 52.5103 24.947C51.4822 26.9196 51.4822 29.27 52.5103 31.2426C54.2715 34.6218 52.9177 38.7884 49.5066 40.487C47.5154 41.4786 46.1339 43.3801 45.8061 45.5803C45.2448 49.3493 41.7004 51.9244 37.9424 51.2937C35.7486 50.9254 33.5133 51.6517 31.9549 53.2391C29.2854 55.9583 24.9043 55.9583 22.2347 53.2391C20.6764 51.6517 18.441 50.9254 16.2473 51.2937C12.4892 51.9244 8.94486 49.3493 8.38347 45.5803C8.05575 43.3801 6.67423 41.4786 4.68301 40.487C1.27196 38.7884 -0.0818758 34.6218 1.67931 31.2426C2.70741 29.27 2.70741 26.9196 1.67931 24.947C-0.0818758 21.5678 1.27196 17.4012 4.68301 15.7026C6.67423 14.711 8.05575 12.8095 8.38347 10.6093C8.94486 6.84033 12.4892 4.26519 16.2473 4.89596C18.441 5.26417 20.6764 4.53786 22.2347 2.95051Z"
              fill="#4355FF"
            />
          </svg>

          <p>o gancho solidário;</p>
        </li>

        <li class="flex flex-row items-start space-x-24">
          <svg
            style="min-width: 54px"
            width="54"
            height="54"
            viewBox="0 0 54 53"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M21.3753 2.08661C24.7292 -0.350171 29.2708 -0.350173 32.6247 2.08661L49.907 14.6429C53.2609 17.0797 54.6643 21.399 53.3832 25.3418L46.782 45.6582C45.5009 49.601 41.8267 52.2705 37.681 52.2705H16.319C12.1733 52.2705 8.49908 49.601 7.21798 45.6582L0.616764 25.3418C-0.66433 21.399 0.739096 17.0797 4.09304 14.6429L21.3753 2.08661Z"
              fill="#FFAA3E"
            />
          </svg>

          <p>
            um pequeno flyer informativo sobre o movimento, para colocar junto
            do gancho solidário.
          </p>
        </li>
      </ul>
    </div>
  </section>
</section>

<section id="seja_parceiro" class="limit-width">
  <div class="flex justify-center mt-48 mx-auto" aria-label="Faça o registo">
    {% include vectors/register.svg %}
  </div>

  <div class="max-w-16-col bg-blue text-white rounded-3xl p-184">
    <p class="text-40">
      O <span class="font-bold font-serif">pão no gancho</span> começa com a
      adesão de estabelecimentos como o seu. Faça parte da nossa comunidade e
      ajude-nos a alimentar quem mais precisa.
    </p>

    <form class="flex flex-col items-center mt-80">
      <div class="flex flex-col space-y-24 text-black w-full">
        <input class="h-80 rounded-3xl px-40 py-28" placeholder="Nome *" />
        <input class="h-80 rounded-3xl px-40 py-28" placeholder="Email *" />

        <input
          class="h-80 rounded-3xl px-40 py-28"
          placeholder="Nome do Espaço*"
        />
        <input class="h-80 rounded-3xl px-40 py-28" placeholder="Facebook*" />
        <input class="h-80 rounded-3xl px-40 py-28" placeholder="Instagram*" />

        <input class="h-80 rounded-3xl px-40 py-28" placeholder="Morada*" />

        <textarea
          class="h-80 rounded-3xl px-40 py-28"
          placeholder="Observações/Questões *"
        ></textarea>
      </div>

      <button
        class="bg-pink rounded-3xl text-40 leading-none py-16 px-40 font-serif mt-56"
      >
        Registar
      </button>
    </form>
  </div>
</section>

<section id="como_surgiu" class="limit-width mt-168">
  <header class="flex justify-center mb-80 mx-auto" aria-label="Como surgiu?">
    {% include vectors/how_it_appears.svg %}
  </header>

  <div class="space-y-40 text-28 max-w-10-col mx-auto">
    <p>
      O <span class="font-bold font-serif">pão no gancho</span> surge com a
      chegada de Anja e Michael à cidade de Braga. Um casal alemão que decidiu
      trocar a sua vida em Munique por uma nova vida na cidade de Braga.
    </p>

    <p>
      Conhecedores da iniciativa
      <a href="#" class="font-bold underline">Caffè Sospenso</a> e do
      <a href="#" class="font-bold underline">Hey</a> (em Munique), decidiram
      criar a mesma iniciativa na sua nova cidade.
    </p>

    <p>
      Neste novo capítulo das suas vidas, tinham o sonho de criar um projeto
      solidário que pudesse ajudar a comunidade da qual agora fazem parte.
    </p>

    <p>
      Anja e Michael são um casal feliz e muito agradecido pela vida que têm.
      Para eles chegou o momento de tentar retribuir e de partilhar a visão
      bonita que têm sobre a vida.
    </p>
  </div>
</section>

<section class="limit-width mt-168 mb-216">
  <header class="font-serif text-40 leading-none text-center">
    Powered by
  </header>

  <div class="max-w-12-col flex flex-row justify-between mx-auto mt-56">
    <div>Subvisual</div>
    <div>You had a problem</div>
    <div>Onda</div>
    <div>Finiam</div>
  </div>
</section>

<section class="limit-width rounded-4xl bg-red text-white mb-80">
  <div class="px-88 pt-192 pb-88 flex flex-row items-end">
    <div
      class="flex flex-col text-112 leading-none font-serif"
      aria-hidden="true"
    >
      <span>pão</span>
      <span>no</span>
      <span class="flex items-center">
        <span>gancho</span>
      </span>
    </div>

    <div class="ml-120">
      <div class="flex flex-row space-x-24">
        <a class="flex justify-center" href="#" aria-label="Facebook page">
          {% include icons/facebook.svg %}
        </a>

        <div class="flex justify-center" href="#" aria-label="Instagram page">
          {% include icons/instagram.svg %}
        </div>
      </div>

      <a class="block text-40 font-sans mt-24" href="mailto:info@paonogancho.pt"
        >info@paonogancho.pt</a
      >
    </div>
  </div>
</section>
