* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Millik";
  src: url("/fonts/Millik.otf");
}

html {
  @apply text-black font-sans;

  font-size: calc(12px + (16 - 12) * ((100vw - 300px) / (1600 - 300)));
}

@layer utilities {
  .limit-width {
    @apply px-80 max-w-16-col mx-auto md:px-gutter;
  }

  .svg-header {
    @apply flex w-7-col justify-center mt-88 mx-auto md:mt-40 md:w-5-col
  }
}