* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "smcp" 1, "onum" 1, "frac" 1, "kern" 1, "liga" 1,
    "dlig" 1, "swsh" 1;
  -moz-font-feature-settings: "smcp=1, onum=1, frac=1, kern=1, liga=1, dlig=1, swsh=1";
  -ms-font-feature-settings: "smcp" 1, "onum" 1, "frac" 1, "kern" 1, "liga" 1,
    "dlig" 1, "swsh" 1;
  -o-font-feature-settings: "smcp" 1, "onum" 1, "frac" 1, "kern" 1, "liga" 1,
    "dlig" 1, "swsh" 1;
  -webkit-font-feature-settings: "smcp" 1, "onum" 1, "frac" 1, "kern" 1,
    "liga" 1, "dlig" 1, "swsh" 1;
  font-feature-settings: "smcp" 1, "onum" 1, "frac" 1, "kern" 1, "liga" 1,
    "dlig" 1, "swsh" 1;
  font-feature-settings: normal;

  box-sizing: border-box;
}

@font-face {
  font-family: "Millik";
  src: url("/fonts/Millik.otf");
}

html {
  @apply text-black font-sans;

  font-size: calc(12px + (16 - 12) * ((100vw - 300px) / (1600 - 300)));
}

@layer utilities {
  .limit-width {
    @apply px-80 max-w-16-col mx-auto md:px-gutter;
  }

  .limit-width-large {
    @apply max-w-18-col mx-auto px-80 md:px-gutter;
  }

  @media (min-width: 640px) {
    .limit-width-large-no-sm {
      @apply max-w-18-col mx-auto px-80 md:px-gutter;
    }
  }

  .svg-header {
    @apply flex w-5-col justify-center mt-88 mx-auto md:mt-40 md:w-4-col sm:w-168 h-auto;
  }

  .hook {
    @apply font-bold font-serif;

    font-size: 105%;
  }

  .input {
    @apply rounded-3xl px-40 py-24 border-2 border-transparent text-20 md:rounded-xl md:px-32 sm:px-16 md:py-16 sm:py-8 sm:text-12;
  }

  .input::placeholder {
    @apply text-20 text-blue sm:text-12;
  }

  .input:focus {
    @apply border-black;
    outline: none;
  }

  /*[data-rotate-infinite="true"] {
    animation: rotate var(--animation-speed, 3s) linear infinite;
    animation-direction: var(--animation-direction, forwards);
  }*/

  @keyframes rotate {
    0% {
      transform: rotate(var(--animation-angle, 0deg));
    }

    100% {
      transform: rotate(calc(var(--animation-angle, 0deg) + 360deg));
    }
  }

  .title-letters {
    position: relative;
    display: inline-flex;
  }

  .title-letter {
    display: inline-block;
    opacity: 0;
  }

  .has-js .title-opportunities .title-opportunities-anim {
    opacity: 0;
    transform-origin: bottom left;
    -webkit-transform: translate(0, 16px) rotate(3deg);
    -moz-transform: translate(0, 16px) rotate(3deg);
    -o-transform: translate(0, 16px) rotate(3deg);
    transform: translate(0, 16px) rotate(3deg);
    -webkit-transition: all 1500ms cubic-bezier(0.22, 1, 0.36, 1) 0.75s;
    -moz-transition: all 1500ms cubic-bezier(0.22, 1, 0.36, 1) 0.75s;
    -o-transition: all 1500ms cubic-bezier(0.22, 1, 0.36, 1) 0.75s;
    transition: all 1500ms cubic-bezier(0.22, 1, 0.36, 1) 0.75s;
  }

  .has-js nav ul li {
    opacity: 0;
    transform-origin: bottom left;
    -webkit-transform: translate(0, 16px) rotate(1deg);
    -moz-transform: translate(0, 16px) rotate(1deg);
    -o-transform: translate(0, 16px) rotate(1deg);
    transform: translate(0, 16px) rotate(1deg);
    -webkit-transition: all 750ms cubic-bezier(0.22, 1, 0.36, 1) 1.5s;
    -moz-transition: all 750ms cubic-bezier(0.22, 1, 0.36, 1) 1.5s;
    -o-transition: all 750ms cubic-bezier(0.22, 1, 0.36, 1) 1.5s;
    transition: all 750ms cubic-bezier(0.22, 1, 0.36, 1) 1.5s;
  }

  .has-js .face {
    opacity: 0;
    -webkit-transform: translate(0, 56px) rotate(90deg) scale(0);
    -moz-transform: translate(0, 56px) rotate(90deg) scale(0);
    -o-transform: translate(0, 56px) rotate(90deg) scale(0);
    transform: translate(0, 56px) rotate(90deg) scale(0);
    -webkit-transition: all 750ms cubic-bezier(0.22, 1, 0.36, 1);
    -moz-transition: all 750ms cubic-bezier(0.22, 1, 0.36, 1);
    -o-transition: all 750ms cubic-bezier(0.22, 1, 0.36, 1);
    transition: all 750ms cubic-bezier(0.22, 1, 0.36, 1);
  }

  .has-js .reveal {
    opacity: 0;
    transform-origin: bottom left;
    -webkit-transform: translate(0, 56px) rotate(3deg);
    -moz-transform: translate(0, 56px) rotate(3deg);
    -o-transform: translate(0, 56px) rotate(3deg);
    transform: translate(0, 56px) rotate(3deg);
    -webkit-transition: all 1500ms cubic-bezier(0.22, 1, 0.36, 1);
    -moz-transition: all 1500ms cubic-bezier(0.22, 1, 0.36, 1);
    -o-transition: all 1500ms cubic-bezier(0.22, 1, 0.36, 1);
    transition: all 1500ms cubic-bezier(0.22, 1, 0.36, 1);
  }

  .has-js .reveal-title svg {
    opacity: 0;
    -webkit-transform: translate(0, 56px) rotate(90deg) scale(0);
    -moz-transform: translate(0, 56px) rotate(90deg) scale(0);
    -o-transform: translate(0, 56px) rotate(90deg) scale(0);
    transform: translate(0, 56px) rotate(90deg) scale(0);
    -webkit-transition: all 1500ms cubic-bezier(0.22, 1, 0.36, 1);
    -moz-transition: all 1500ms cubic-bezier(0.22, 1, 0.36, 1);
    -o-transition: all 1500ms cubic-bezier(0.22, 1, 0.36, 1);
    transition: all 1500ms cubic-bezier(0.22, 1, 0.36, 1);
  }
}
