@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;

  line-height: 1.2;
}

html,
body {
  min-height: 100%;
}

body {
  background: #222;
  color: #eee;
  font-family: "Work Sans", sans-serif;
}
